
<div class="flex justify-center items-center lg:mt-[8rem] xl:mt-[13rem] w-[100%] mb-[5rem]">
  <hr class="w-[20%] md:w-[35%] text-secondary">
  <span class="text-primary ms-[1rem] text-[1.5rem] md:text-[2rem] xl:text-[3rem]">&#123</span>
  <span class="text-white text-[1.5rem] md:text-[2rem] xl:text-[3rem] px-[.5rem] font-raleway">Mi Stack</span>
  <span class="text-primary me-[1rem] text-[1.5rem] md:text-[2rem] xl:text-[3rem]">&#x7D</span>
  <hr class="w-[20%] md:w-[35%] text-secondary">
</div>

<section class="relative w-screen px-[5rem] inline-block whitespace-nowrap w-[100%] before:content-[''] before:absolute 
before:top-0 before:left-0 before:h-[7rem] md:before:h-[8rem] lg:before:h-[10rem] before:w-[1rem] md:before:w-[6rem] lg:before:w-[8rem] xl:before:w-[13rem] before:z-50 before:bg-stackLeft overflow-hidden
after:content-[''] after:absolute after:top-0 after:right-0 after:h-[10rem] after:me-[-1rem] after:w-[2rem] sm:after:w-[3rem] md:after:w-[8rem] lg:after:w-[10rem] xl:after:w-[13rem] 
after:z-50 after:bg-stackRight md:mb-[3rem] lg:mb-0">
  
<div 
  class="whitespace-nowrap inline-block animate-stack"
  id="fist-row">
    
    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/ASTRO.svg" alt="astro logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Astro</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/BOOTSTRAP.svg" alt="bootstrap logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Bootstrap</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/CSS.svg" alt="CSS logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">CSS</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/HTML.svg" alt="HTML logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">HTML</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/JS.svg" alt="javascript logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Javascript</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/MONGO.svg" alt="MongoDB logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">MongoDB</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/MYSQL.svg" alt="MySQL logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">MySQL</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/NEXT.svg" alt="Next.js logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Next.js</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/NODE.svg" alt="Node.js logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Node.js</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/POSTMAN.svg" alt="postman logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Postman</figcaption>
    </div>
    
    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/REACT.svg" alt="react logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">React</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/TAILWIND.svg" alt="tailwind logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Tailwind</figcaption>
    </div>
    
    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/TYPESCRIPT.svg" alt="typescript logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Typescript</figcaption>
    </div>
  </div>


  <div 
    class="whitespace-nowrap inline-block animate-stack"
    id="second-row">

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/ASTRO.svg" alt="astro logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Astro</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/BOOTSTRAP.svg" alt="bootstrap logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Bootstrap</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/CSS.svg" alt="CSS logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">CSS</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/HTML.svg" alt="HTML logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">HTML</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/JS.svg" alt="javascript logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Javascript</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/MONGO.svg" alt="MongoDB logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">MongoDB</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/MYSQL.svg" alt="MySQL logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">MySQL</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/NEXT.svg" alt="Next.js logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Next.js</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/NODE.svg" alt="Node.js logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Node.js</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/POSTMAN.svg" alt="postman logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Postman</figcaption>
    </div>
    
    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/REACT.svg" alt="react logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">React</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/TAILWIND.svg" alt="tailwind logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Tailwind</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/TYPESCRIPT.svg" alt="typescript logo" class="w-[5rem] md:w-[6rem] lg:w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white font-roboto">Typescript</figcaption>
    </div>
  </div>
</section>


