
<section class="relative w-screen px-[5rem] inline-block whitespace-nowrap mb-[3rem] w-[100%] before:content-[''] before:absolute 
before:top-0 before:left-0 before:h-[10rem] before:w-[13rem] before:z-50 before:bg-stackLeft overflow-hidden
after:content-[''] after:absolute after:top-0 after:right-0 after:h-[10rem] after:w-[13rem] after:z50 after:bg-stackRight ">
  <div class="whitespace-nowrap inline-block animate-stack">
    
    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/ASTRO.svg" alt="astro logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Astro</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/BOOTSTRAP.svg" alt="bootstrap logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Bootstrap</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/CSS.svg" alt="CSS logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">CSS</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/HTML.svg" alt="HTML logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">HTML</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/JS.svg" alt="javascript logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Javascript</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/MONGO.svg" alt="MongoDB logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">MongoDB</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/MYSQL.svg" alt="MySQL logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">MySQL</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/NEXT.svg" alt="Next.js logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Next.js</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/NODE.svg" alt="Node.js logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Node.js</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/POSTMAN.svg" alt="postman logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Postman</figcaption>
    </div>
    
    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/REACT.svg" alt="react logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">React</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/TAILWIND.svg" alt="tailwind logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Tailwind</figcaption>
    </div>
  </div>


  <div class="whitespace-nowrap inline-block animate-stack">
    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/ASTRO.svg" alt="astro logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Astro</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/BOOTSTRAP.svg" alt="bootstrap logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Bootstrap</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/CSS.svg" alt="CSS logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">CSS</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/HTML.svg" alt="HTML logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">HTML</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/JS.svg" alt="javascript logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Javascript</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/MONGO.svg" alt="MongoDB logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">MongoDB</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/MYSQL.svg" alt="MySQL logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">MySQL</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/NEXT.svg" alt="Next.js logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Next.js</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/NODE.svg" alt="Node.js logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Node.js</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/POSTMAN.svg" alt="postman logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Postman</figcaption>
    </div>
    
    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/REACT.svg" alt="react logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">React</figcaption>
    </div>

    <div class="text-center inline-block w-[11rem]">
      <img src="/stackIcons/TAILWIND.svg" alt="tailwind logo" class="w-[8rem] mx-auto mb-[.3rem]"> 
      <figcaption class="text-[1.1rem] text-white">Tailwind</figcaption>
    </div>
  </div>
</section>





